<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="uri" value="http://localhost:8080/"/>
    <add key="Glop" value="Glip"/>
  </appSettings>

  <connectionStrings>
    <add name="Service" connectionString="Data Source=Database1.sdf;Persist Security Info=False;" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
