<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.13" targetFramework="net40" />
  <package id="Nancy" version="0.17.1" targetFramework="net40-Client" />
  <package id="Nancy.Hosting.Self" version="0.17.1" targetFramework="net40-Client" />
  <package id="SlowCheetah" version="2.5.5" targetFramework="net40-Client" />
  <package id="Topshelf" version="3.1.1" targetFramework="net40-Client" />
</packages>